body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: auto;
  padding: 32px 16px;
  max-width: 640px;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2 {
  margin: 0;
}
h3,
h4,
h5 {
  margin: 4px 0;
}
header > h2 {
  font-weight: 300;
}
.projects > h1 {
  font-size: 2em;
}
.project {
  margin: 24px 0;
}
.contact {
  display: flex;
  flex-direction: row;
  gap: 6px;
  padding: 8px 0;
}
.contact > a {
  color: unset;
}
.experience > section {
  padding: 8px 0;
}
.education > section {
  padding: 8px 0;
}
